.theme-container.custom-landing {
  /* page-specific rules */
  background-color: #f0f0f0;
  font-family: "aasaam-Noto", sans-serif !important;
}
.theme-container.rtl-st .home {
  /* page-specific rules */
  direction: rtl !important;
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 700;
  src:
    url('/fonts/aasaam-NotoSansDisplay-Bold.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansDisplay-Bold.woff') format('woff'),
    url('/fonts/aasaam-NotoSansDisplay-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 300;
  src:
    url('/fonts/aasaam-NotoSansDisplay-Light.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansDisplay-Light.woff') format('woff'),
    url('/fonts/aasaam-NotoSansDisplay-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 500;
  src:
    url('/fonts/aasaam-NotoSansDisplay-Medium.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansDisplay-Medium.woff') format('woff'),
    url('/fonts/aasaam-NotoSansDisplay-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 400;
  src:
    url('/fonts/aasaam-NotoSansDisplay-Regular.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansDisplay-Regular.woff') format('woff'),
    url('/fonts/aasaam-NotoSansDisplay-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 700;
  src:
    url('/fonts/aasaam-NotoSansArabicUI-Bold.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansArabicUI-Bold.woff') format('woff'),
    url('/fonts/aasaam-NotoSansArabicUI-Bold.ttf') format('ttf');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 300;
  src:
    url('/fonts/aasaam-NotoSansArabicUI-Light.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansArabicUI-Light.woff') format('woff'),
    url('/fonts/aasaam-NotoSansArabicUI-Light.ttf') format('ttf');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 500;
  src:
    url('/fonts/aasaam-NotoSansArabicUI-Medium.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansArabicUI-Medium.woff') format('woff'),
    url('/fonts/aasaam-NotoSansArabicUI-Medium.ttf') format('ttf');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
@font-face {
  font-family: 'aasaam-Noto';
  font-display: swap;
  font-weight: 400;
  src:
    url('/fonts/aasaam-NotoSansArabicUI-Regular.woff2') format('woff2'),
    url('/fonts/aasaam-NotoSansArabicUI-Regular.woff') format('woff'),
    url('/fonts/aasaam-NotoSansArabicUI-Regular.ttf') format('ttf');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

body {
  font-family: "aasaam-Noto", sans-serif;
}
// rtl support feature request

div.rtl_inner
  .custom-block
    &.tip, &.warning, &.danger
      border-left-width 0
      border-right-width .5rem
      border-left-style none
      border-right-style solid

  .sidebar-heading
    padding-left 0
    padding-right 1.5rem

  .nav-links
    .nav-item
      margin-left 0
      margin-right 1.5rem
    .repo-link
      margin-left 0
      margin-right 1.5rem

  .page-nav.content
    .next
      float left

  .dropdown-wrapper
    .dropdown-title
      .arrow
        margin-left 0
        margin-right 0.4rem

  .content pre, .content pre[class*="language-"]
    direction ltr


  .page
    padding-left 0 !important
    padding-right $sidebarWidth
    text-align right
    direction rtl

  .sidebar
    left auto !important
    right 0
    border-right medium none color
    border-left 1px solid $borderColor
    direction rtl

  // a.header-anchor
  //   float right !important
  //   margin-left 0 !important
  //   margin-right -0.87em
  //   padding-right 0 !important
  //   padding-left 0.23em

  // .search-box
  //   margin-right 0 !important
  //   margin-left 0.5rem

  // .navbar
  //   .links
  //     left 1.5rem
  //     right auto

